alabaster==0.7.8
altgraph==0.12
appdirs==1.4.3
atari-py==0.0.18
Babel==2.3.4
box2d-py==2.3.1
cycler==0.10.0
djitw==0.0.0
dlib==19.4.0
docutils==0.12
enum34==1.1.6
funcsigs==1.0.2
-e git+https://github.com/openai/gym.git@8a81a2082726ae96742ac0fb19f5cfbe6e23c955#egg=gym
hopPy==1.0
imageio==1.6
imagesize==0.7.1
Jinja2==2.8
macholib==1.7
MarkupSafe==0.23
matplotlib==1.5.3
mercurial==3.8.4
mock==2.0.0
modulegraph==0.12.1
mujoco-py==0.5.6
numba==0.26.0
numpy==1.12.1
openface==0.2.1
pachi-py==0.0.21
packaging==16.8
pandas==0.19.2
pbr==2.0.0
Pillow==3.3.1
protobuf==3.2.0
py2app==0.9
pyclips==1.0.7.343
pyglet==1.2.4
Pygments==2.1.3
pyobjc==3.0.4
pyobjc-core==3.0.4
pyobjc-framework-Accounts==3.0.4
pyobjc-framework-AddressBook==3.0.4
pyobjc-framework-AppleScriptKit==3.0.4
pyobjc-framework-AppleScriptObjC==3.0.4
pyobjc-framework-Automator==3.0.4
pyobjc-framework-CalendarStore==3.0.4
pyobjc-framework-CFNetwork==3.0.4
pyobjc-framework-Cocoa==3.0.4
pyobjc-framework-Collaboration==3.0.4
pyobjc-framework-CoreData==3.0.4
pyobjc-framework-CoreLocation==3.0.4
pyobjc-framework-CoreText==3.0.4
pyobjc-framework-CoreWLAN==3.0.4
pyobjc-framework-DictionaryServices==3.0.4
pyobjc-framework-DiskArbitration==3.0.4
pyobjc-framework-EventKit==3.0.4
pyobjc-framework-ExceptionHandling==3.0.4
pyobjc-framework-FSEvents==3.0.4
pyobjc-framework-InputMethodKit==3.0.4
pyobjc-framework-InstallerPlugins==3.0.4
pyobjc-framework-InstantMessage==3.0.4
pyobjc-framework-LatentSemanticMapping==3.0.4
pyobjc-framework-LaunchServices==3.0.4
pyobjc-framework-PreferencePanes==3.0.4
pyobjc-framework-PubSub==3.0.4
pyobjc-framework-QTKit==3.0.4
pyobjc-framework-Quartz==3.0.4
pyobjc-framework-ScreenSaver==3.0.4
pyobjc-framework-ScriptingBridge==3.0.4
pyobjc-framework-SearchKit==3.0.4
pyobjc-framework-ServiceManagement==3.0.4
pyobjc-framework-Social==3.0.4
pyobjc-framework-StoreKit==3.0.4
pyobjc-framework-SyncServices==3.0.4
pyobjc-framework-SystemConfiguration==3.0.4
pyobjc-framework-WebKit==3.0.4
PyOpenGL==3.1.0
pyparsing==2.2.0
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.12
requests==2.11.1
scikit-learn==0.18
scipy==0.19.0
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.4.6
sphinx-rtd-theme==0.1.9
stevedore==1.12.0
TBB==0.1
tensorflow==1.0.1
Theano==0.9.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
